{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="container">

      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form">{{ _('Edit organisation') }}</h2>
        {{ render_field(form.name, class="input-xlarge") }}
        {{ render_field(form.description, class="input-xlarge") }}
        {{ render_field(form.users, class="input-xlarge") }}
        {{ render_field(form.submit, class="btn btn-primary") }}
      </form>

    </div>

{% endblock %}

