{% extends "base.html" %}
{% block content %}

<div class="table-responsive">
  <p class="text-right"><a class="btn btn-primary btn-xs" href="{{url_for('organisations.organisation_add')}}"><i class="glyphicon glyphicon-plus"></i> {{_('Add') }}</a></p>
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Created at') }}</th>
        <th style="width: 70px;"></th>
      </tr>
    </thead>
    <tbody>
    {% for o in organisations %}
      <tr>
        <td>{{ o.name }}</td>
        <td>{{ o.created_time }}</td>
        <td>
          <a href="{{url_for('organisations.organisation_edit', id=o.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
          <a data-url="{{url_for('organisations.organisation_del', id=o.id)}}" class="btn btn-default btn-xs confirm" data-toggle="modal" data-target="#confirm-dialog">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% include "confirm.html" %}
{% endblock %}
