{% extends "base.html" %}
{% block content %}

{% set url_add = url_for('organisations.organisation_add') %}

<div class="table-responsive">
  {% include "table-header.html" %}
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Domain') }}</th>
        <th>{{ _('Created at') }}</th>
        <th style="width: 6%;" class="sorter-false"></th>
      </tr>
    </thead>
    <tbody>
    {% for o in organisations %}
      <tr>
        <td>{{ o.name }}</td>
        <td>{{ o.domain }}</td>
        <td>{{ o.created_time }}</td>
        <td>
          <a href="{{url_for('organisations.organisation_edit', id=o.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
          <a data-url="{{url_for('organisations.organisation_del', id=o.id)}}" class="btn btn-default btn-xs confirm" data-toggle="modal" data-target="#confirm-dialog">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  {% include "table-footer.html" %}
  </table>
</div>

{% include "confirm.html" %}
{% endblock %}
