    <section id="about" data-speed="2" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                    <span class="bigintro-dark">About Us</span>
                    </h2>
                </div>
            </div>
            <div class="divide60"></div>
            <div class="row">
                <div class="col-md-12 about">
                    <p>Avencall is transforming enterprise telecommunications and its associated business model by providing open, upgradable and creative telephony solutions that serve our customers’ business needs. This success is made possible by our employees’ teamwork and expertise.</p>
                    <p>Avencall was created to serve our customers, with the merger of the visionary software publisher that launched XiVO in 2005 and a business system integrator. Complementarity between teams and management, in a shared business venture, gives Avencall a unique position in the enterprise telephony and unified communications market.</p>
                    <p>Composed of 75 specialists who are passionate about their profession (R&D, Sales, Marketing, Services and Back Office) the Avencall team provides our customers with reliability, expertise and support.</p>
                    <p>Our coverage across France (Paris, Lyon, Toulouse and Rennes) and internationally (Quebec and Singapore) ensures our 400 customers and partners the proximity essential for a software publisher whose corporate values are innovation, expertise, responsiveness and objectivity.</p>
                </div>
            </div>
        </div>
    </section>
