    <section id="features" data-speed="10" data-type="background">
        <div class="container">
          <div class="divide60"></div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                    <span class="bigintro">Features</span>
                    </h2>
                </div>
            </div>
            <div class="divide60"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="feature">
                        <h3>Cloud</h3>
                        <p>XiVO is fully operable with every famous cloud like amazon, rackspace, openstack.</p>
                        <p><a class="btn btn-primary" href="#">View details</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="feature">
                        <h3>Ivr</h3>
                        <p>We have a special graphical IVR, it's really simple to create many IVR for your business. Just drop your element and it's working !</p>
                        <p><a class="btn btn-primary" href="#">View details</a></p>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-6">
                    <div class="feature">
                        <h3>Video Conf</h3>
                        <p>With the webrtc and jitsi video bridge it's easy to create video conf meeting with mobile, tablette and of course pc.</p>
                        <p><a class="btn btn-primary" href="#">View details</a></p>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-6">
                    <div class="feature">
                        <h3>Market</h3>
                        <p>Your plateform is very extensible, it's very easy to add new features ! Go to the market and install what you need.</p>
                        <p><a class="btn btn-primary" href="#">View details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

