{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form">{{ _('Edit account') }}</h2>
        {{ render_field(form.username, class="input-xlarge", disabled="disabled") }}
        {{ render_field(form.email, class="input-xlarge") }}
        {{ render_field(form.displayname, class="input-xlarge") }}
        {{ render_field(form.password, class="input-xlarge") }}
        {{ render_field(form.role, class="input-large") }}
        {{ render_field(form.language, class="input-large") }}
        {{ render_field(form.organisations, class="input-large") }}
        {{ render_field(form.submit, class="btn btn-primary") }}
      </form>

{% endblock %}

