{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}


<div class="container">

<div class="row">
  <div class="span8">      		
    <div class="widget stacked ">
      <div class="widget-header">
         <h3>{{ _('Your Account') }} ({{ current_user.username }})</h3>
      </div> 
				
      <div class="widget-content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#profil" data-toggle="tab">{{ _('Profil') }}</a>
            </li>
          </ul>
          <br>
          <div class="tab-content">
            <div class="tab-pane active" id="profil">
              <form class="form" method="post">
              {{ form.csrf_token }}
              <fieldset>
                {{ render_field(form.username, class="input-xlarge", disabled="disabled") }}
                {{ render_field(form.displayname, class="input-xlarge") }}
                {{ render_field(form.email, class="input-xlarge") }}
                {{ render_field(form.language, class="input-xlarge") }}
                <br><br>
                {{ render_field(form.password, class="input-xlarge") }}
                <br>
                {{ render_field(form.submit, class="btn btn-primary") }}
              </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</div>

{% endblock %}
