{% extends "base.html" %}

{% block body %}
<body style="background-image: url('../../static/img/background.jpg')">
{% endblock %}

{% block login %}
    {% from "forms/macros.html" import render_field %}

<div class="col-md-12">
      <form class="form-signin" method="post">
        {{ form.csrf_token }}
        <h2>{{ _('Sign up') }}</h2>
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.displayname) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.captcha) }}
        {{ render_field(form.agree) }}
        {{ render_field(form.submit, class="btn btn-default btn-primary") }}
        {{ _('Already have an account? ') }} <a href="{{url_for('authentification.login')}}">{{ _('Sign In') }}</a>
      </form>
</div>

{% include "license.html" %}
{% endblock %}
