{% extends "base.html" %}
{% block content %}
{% from "forms/macros.html" import render_field %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ _('Add server') }}</h4>
    </div>
    <div class="panel-body">
      <div class="well well-xs col-md-6">
        <form class="form" role="form" method="post">
            {{ form.csrf_token }}
            {{ render_field(form.name, with_label=1) }}
            {{ render_field(form.address, with_label=1) }}
            {{ render_field(form.login, with_label=1) }}
            {{ render_field(form.password, with_label=1) }}
            {{ render_field(form.protocol, with_label=1) }}
            {{ render_field(form.organisations, with_label=1) }}
            {{ render_field(form.users) }}
            {{ render_field(form.submit, class="btn btn-default btn-primary") }}
        </form>
      </div>
    </div>
</div>


{% if current_user.is_root %}
<script type=text/javascript>
    $("label[for=users]").hide()
    $('#users').hide();

    $('[name="organisations"]').change(function() {
        var id = $('[name="organisations"] option:selected').val()
        var items = [];
        $.getJSON('/organisation/accounts/' + id, function(data) {
            $("label[for=users]").show()
            $.each( data.accounts, function( key, val ) {
                    items.push('<option value="' + val.id + '">' + val.displayname + '</option>');
                })
            $('#users').show().html(items);
            })
    });
</script>
{% endif %}

{% endblock %}

