{% extends "base.html" %}
{% block content %}

{% set url_add = url_for('servers.server_add') %}

<div class="table-responsive">
  {% include "table-header.html" %}
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Address') }}</th>
        <th>{{ _('Login') }}</th>
        <th>{{ _('Password') }}</th>
        <th>{{ _('Protocol') }}</th>
        <th>{{ _('Organisation') }}</th>
        <th style="width: 6%;" class="sorter-false"></th>
      </tr>
    </thead>
    <tbody>
    {% for s in servers %}
      <tr>
        <td>{{ s.name }}</td>
        <td><a href="https://{{ s.address }}" target="_blank">{{ s.address }}</a></td>
        <td>{{ s.login }}</td>
        <td>{{ s.password }}</td>
        <td>{{ s.protocol }}</td>
        <td>{{ s.organisations.name }}</td>
        <td>
          <a href="{{url_for('servers.server_edit', id=s.id)}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
          <a data-url="{{url_for('servers.server_del', id=s.id)}}" class="btn btn-default btn-xs confirm" data-toggle="modal" data-target="#confirm-dialog">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
   {% include "table-footer.html" %}
  </table>
</div>

{% include "confirm.html" %}
{% endblock %}

