{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ _('Add server') }}</h4>
    </div>
    <div class="panel-body">
      <div class="well well-xs col-md-6">
        <form class="form" role="form" method="post">
            {{ form.csrf_token }}
            {{ render_field(form.name, with_label=1) }}
            {{ render_field(form.address, with_label=1) }}
            {{ render_field(form.login, with_label=1) }}
            {{ render_field(form.password, with_label=1) }}
            {{ render_field(form.protocol, with_label=1) }}
            {{ render_field(form.organisations, with_label=1) }}
            {{ render_field(form.users) }}
            {{ render_field(form.submit, class="btn btn-default btn-primary") }}
        </form>
      </div>
    </div>
</div>

{% if g.user.role == 300 %}
<script type=text/javascript>

    function _update_options_users() {
        var id = $('[name="organisations"] option:selected').val()
        var items = [];
        $.getJSON('/organisation/accounts/' + id, function(data) {
            $.each( data.accounts, function( key, val ) {
                    if (val.selected)
                        items.push('<option value="' + val.id + '" selected="selected">' + val.displayname + '</option>');
                    else
                        items.push('<option value="' + val.id + '">' + val.displayname + '</option>');
                })
            $('[name="users"]').html(items);
            })
    }

    $('[name="organisations"]').ready(function() {
        _update_options_users();
    });

    $('[name="organisations"]').change(function() {
        _update_options_users();
    });

</script>
{% endif %}

{% endblock %}

