{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="widget stacked widget-table action-table">
  <p class="text-right"><a class="btn btn-primary btn-small" href="{{url_for('servers.server_add')}}"><i class="icon-plus icon-white"></i> {{_('Add') }}</a></p>
  <table class="table table-bordered">
<div class="widget-content">
  <table class="table table-bordered table-striped table-highlight">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Address') }}</th>
        <th>{{ _('Login') }}</th>
        <th>{{ _('Password') }}</th>
        <th>{{ _('Protocol') }}</th>
        <th>{{ _('Organisation') }}</th>
      <th class="td-actions"></th>
      </tr>
    </thead>
    <tbody>
    {% for s in servers %}
      <tr>
      <td>{{ s.name }}</td>
      <td><a href="https://{{ s.address }}" target="_blank">{{ s.address }}</a></td>
      <td>{{ s.login }}</td>
      <td>{{ s.password }}</td>
      <td>{{ s.protocol }}</td>
      <td>{{ s.organisations.name }}</td>
      <td class="td-actions">
        <a href="{{url_for('servers.server_edit', id=s.id)}}" class="btn btn-small"><i class="btn-icon-only icon-edit"></i></a>
        <a href="{{url_for('servers.server_del', id=s.id)}}" class="btn btn-small"><i class="btn-icon-only icon-remove"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</div>

{% endblock %}
