{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

      <form class="form" method="post">
        {{ form.csrf_token }}
        <h2 class="form">{{ _('Add server') }}</h2>
        {{ render_field(form.name, class="input-xlarge") }}
        {{ render_field(form.address, class="input-xlarge") }}
        {{ render_field(form.login, class="input-xlarge") }}
        {{ render_field(form.password, class="input-xlarge") }}
        {{ render_field(form.protocol) }}
        {{ render_field(form.organisations, class="input-xlarge") }}
        {{ render_field(form.users, class="input-xlarge") }}
        {{ render_field(form.submit, class="btn btn-primary") }}
      </form>

{% if g.user.role == 300 %}
<script type=text/javascript>
    $("label[for=users]").hide()
    $('#users').hide();

    $('[name="organisations"]').change(function() {
        var id = $('[name="organisations"] option:selected').val()
        var items = [];
        $.getJSON('/organisation/accounts/' + id, function(data) {
            $("label[for=users]").show()
            $.each( data.accounts, function( key, val ) {
                    items.push('<option value="' + val.id + '">' + val.displayname + '</option>');
                })
            $('#users').show().html(items);
            })
    });
</script>
{% endif %}

{% endblock %}

