{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="container">

      <form class="form" method="post" name="server/new">
        {{ form.csrf_token }}
        <h2 class="form">Edit server</h2>
        {{ render_field(form.name, class="input-xlarge",placeholder="Name") }}
        {{ render_field(form.address, class="input-xlarge",placeholder="Address") }}
        {{ render_field(form.login, class="input-xlarge",placeholder="Login") }}
        {{ render_field(form.password, class="input-xlarge",placeholder="Password") }}
        {{ render_field(form.users, class="input-xlarge") }}
        {{ render_field(form.submit, class="btn btn-primary") }}
      </form>

    </div>

{% endblock %}

