.form-signin {
    max-width: 420px;
    padding: 19px 29px 29px;
    margin: 3em auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.login-extra {
    display: block; 
    width: 300px; 
    margin: 1.5em auto;
    text-align: center;
    line-height: 19px; 
    color: white;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.container {
    margin-top: 60px;
}
