#footer {
  height: 50px;
  width: 100%;
  padding: 10px 0px 0px 0px;
  position:fixed;
  bottom:0px;
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.sidebar-nav {
  padding: 9px 0;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 14px;
    height: 12px;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.login-extra {
    display: block; 
    width: 300px; 
    margin: 1.5em auto;
    text-align: center;
    line-height: 19px; 
    color: white;
}
