{% extends "base.html" %}
{% block login %}
    {% from "forms/macros.html" import render_field %}

<div class="col-md-12">
        <form class="form-signin" method="post" name="login">
        {{ form.csrf_token }}
            <h2 class="form-signin-heading">{{ _('Please sign in') }}</h2>
            {{ render_field(form.username, with_icon="user") }}
            {{ render_field(form.password, with_icon="lock") }}

            <div class="row">
                <div>
                {{ render_field(form.remember_me, class="checkbox") }} 
                {{ render_field(form.submit, class="btn btn-default btn-primary") }} 
                </div>
            </div> 
        </form>

        <div class="login-extra">
            {{ _('Don\'t have an account ?') }} <a href="{{url_for('profil.signup')}}">{{ _('Sign up') }}</a>
        </div>
</div>

<script>
$('body').css("background-image", "url('../../static/img/background.jpg'");
</script>

{% endblock %}
