{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="container">
      <form class="form-signin" method="post" name="login">
        {{ form.csrf_token }}
        <h2 class="form-signin-heading">{{ _('Please sign in') }}</h2>
        {{ render_field(form.username, class="input-block-level") }}
        {{ render_field(form.password, class="input-block-level") }}
        {{ render_field(form.remember_me, class="checkbox") }} 
        <button class="btn btn-large btn-primary" type="submit">{{ _('Sign in') }}</button>
        <br><br>
        <p>{{ _('New account ?') }} <a href="{{url_for('profil.signup')}}" class="btn btn-small">{{ _('Sign up') }}</a></p>
      </form>

    </div>

{% endblock %}

