{% extends "base.html" %}
{% block content %}

    <div class="container">

      <form class="form-signin" method="post" name="login">
        {{loginform.hidden_tag()}}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{loginform.login(class_="input-block-level",placeholder="Username")}}
        {% for error in loginform.errors.login %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        {{loginform.password(class_="input-block-level",placeholder="Password",type="password")}}
        {% for error in loginform.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        <label class="checkbox">
          {{loginform.remember_me}} Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

    </div>

{% endblock %}
