{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="container">
      <form class="form-signin" method="post" name="login">
        {{ loginform.csrf_token }}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ render_field(loginform.login, class="input-block-level",placeholder="Username") }}
        {{ render_field(loginform.password, class="input-block-level",placeholder="Password") }}
        {{ render_field(loginform.remember_me, class="checkbox") }} 
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

    </div>

{% endblock %}

