{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="container">

      <form class="form" method="post" name="server/new">
        {{ serverform.csrf_token }}
        <h2 class="form">Edit server</h2>
        {{ render_field(serverform.name, class="input-xlarge",placeholder="Name") }}
        {{ render_field(serverform.address, class="input-xlarge",placeholder="Address") }}
        {{ render_field(serverform.login, class="input-xlarge",placeholder="Login") }}
        {{ render_field(serverform.password, class="input-xlarge",placeholder="Password") }}
        <button class="btn btn-primary" type="submit">Submit</button>

      </form>

    </div>

{% endblock %}

