{% extends "base.html" %}
{% block content %}

<div class="widget stacked widget-table action-table">
 <div class="widget-content">
   <table class="table table-bordered table-striped table-highlight">
     <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Description') }}</th>
        <th>{{ _('Author') }}</th>
        <th>{{ _('Licence') }}</th>
        <th>{{ _('Parent') }}</th>
        <th class="td-actions"></th>
      </tr>
    </thead>
    <tbody>
    {% for u in modules %}
        {% if u.plugin.parent == 'server' and g.server_id %}
            {% include "market_list.html" %}
        {% elif u.plugin.parent == 'organisation' and not g.server_id %}
            {% include "market_list.html" %}
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
