{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="widget stacked widget-table action-table">
 <div class="widget-content">
   <table class="table table-bordered table-striped table-highlight">
     <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Description') }}</th>
        <th>{{ _('Author') }}</th>
        <th>{{ _('Licence') }}</th>
        <th class="td-actions"></th>
      </tr>
    </thead>
    <tbody>
    {% for u in modules %}
      <tr>
      <td>{{ u.name }}</td>
      <td>{{ u.informations.description }}</td>
      <td>{{ u.informations.author }}</td>
      <td>{{ u.informations.licence }}</td>
      <td class="td-actions">
          {% if u.installed %}
            <a href="{{url_for('market.market_del', module=u.name)}}" class="btn btn-small btn-danger"><i class="btn-icon-only icon-remove icon-white"></i></a>
          {% else %}
            <a href="{{url_for('market.market_get', module=u.name)}}" class="btn btn-small btn-success"><i class="btn-icon-only icon-arrow-down icon-white"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</div>

{% endblock %}
