{% extends "base.html" %}
{% block content %}

<div class="container">
  <a href="{{ url_for('servers.server_add') }}">Add</a>
  <table class="table table-bordered">
    {% for s in servers %}
      <tr>
      <td>{{ s.name }}</td>
      <td>{{ s.address }}</td>
      <td>{{ s.login }}</td>
      <td>{{ s.password }}</td>
      <td>
        <a href="{{url_for('servers.server_del', id=s.id)}}"</a>del|
        <a href="{{url_for('servers.server_edit', id=s.id)}}"</a>edit
      </td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
