<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% include "header.html" %}
        {% block header %}
        {% endblock %}
    </head>

    {% block body %}
        <body>
    {% endblock %}

    {% if current_user.is_authenticated() %}
        {% include "menu_top.html" %}
        {% block menu_top %}
        {% endblock %}
        {% include "messages.html" %}
    {% else %}
        {% include "messages.html" %}
        {% block login %}
        {% endblock %}
    {% endif %}

    {% if current_user.is_authenticated() %}
        <div class="row">
            <div class="col-md-2">
                {% if not wizard %}
                    {% include "menu_left.html" %} 
                    {% block menu_left %}
                    {% endblock %}
                {% endif %}
            </div>

            {% if is_dashboard %}
                <div class="col-md-8">
            {% else %}
                <div class="col-md-10">
            {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            {% if is_dashboard %}
                <div class="col-md-2">
                    {% block dashboard %}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% block footer %}
    {% endblock %}

    </body>
</html>
