<!DOCTYPE html>
<html lang="en">
<head>
    <title>XiVO unified</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" media="screen" title="xivo" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="alternate stylesheet" media="screen" title="original" href="{{ url_for('static', filename='css/bootstrap-classic.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap-progressbar.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/custom.css') }}">

    <script language="javascript" type=text/javascript src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
    <script language="javascript" type=text/javascript src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
    <script language="javascript" type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script language="javascript" type=text/javascript src="{{ url_for('static', filename='js/bootstrap-progressbar.min.js') }}"></script>

    {% block header %}
    {% endblock %}
</head>

<body>

{% include "menu_top.html" %}

    <div class="container">
        <div class="row">
            <div class="span12">
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                <div class="alert fade in" data-dismiss="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ msg }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



   <div class="container-fluid">
   <div class="row-fluid">
       <div class="span2">
            {% if g.wizard != True %}
                 {% include "menu_left.html" %} 
            {% endif %}

       </div>

       <div class="span10">
           {% block content %}
	   <div class="container">
	       <div class="hero-unit">
	           <h1>{{ _('Welcome') }}, {{ current_user.displayname }} !</h1>
	           <p>{{ _('This is the new webi interfaces for XiVO, developp with flask for better performance and better experiences.') }}</p>
	           <p><a href="http://documentation.xivo.fr" class="btn btn-primary btn-large">{{_('Learn more')}} &raquo;</a></p>
	       </div>
	   </div>
           {% endblock %}

       </div>
    </div>
    </div>

    <div id="footer"> 
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>

</body>

</html>
