{% if current_user.is_authenticated() %}

        <div class="span2">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
              {% if g.user.role >= 200 %}
              <li class="nav-header">Configuration</li>
              {%- endif %}
                {%- for endpoint, caption, role in [
                                  ('servers.server', 'Server', 200),
                                  ('profil.accounts', 'Accounts', 300)
                ] %}
                {% if g.user.role >= role %}
                  <li {% if endpoint == request.endpoint %} class="active" {% endif %}><a href="{{url_for(endpoint)}}">{{ caption }}</a></li>
                {%- endif %}
                {%- endfor %}
              <li class="nav-header">Plugins</li>
              {% for p in g.plugins_list %}
                <li {% if  p.plugin.endpoint == request.endpoint %} class="active" {% endif %}><a href="{{url_for(p.plugin.endpoint)}}">{{ p.plugin.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

{% endif %}
