  <div class="row" style="margin-right: 0px; padding-left: 0px; margin-bottom: 20px;">
    <div class="col-md-3 col-md-offset-9">
      <div class="input-group input-group-sm">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input class="search form-control" type="search">
        <div class="input-group-btn">
          <button class="btn btn-primary reset"><i class="glyphicon glyphicon-remove"></i></button>&nbsp;&nbsp;
          {% if url_add %}
              <a class="btn btn-primary btn-xs" href="{{ url_add }}"><i class="glyphicon glyphicon-plus"></i> {{ _('Add') }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

